[submodule "external/mcp_wolfram"]
	path = external/mcp_wolfram
	url = https://github.com/SecretiveShell/MCP-wolfram-alpha
[submodule "external/mcp_wikipedia"]
	path = external/mcp_wikipedia
	url = https://github.com/Rudra-ravi/wikipedia-mcp.git
[submodule "api/external/mcp_wolfram"]
	path = api/external/mcp_wolfram
	url = https://github.com/SecretiveShell/MCP-wolfram-alpha
